html {

    --duration: .45s ;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1) ;
    --color-1: #a2beff ;
    --color-2: #0080ff;
    --ServerUrl: "https://tournamentgram.test/";

}
body{
    background: #002440;
}

.menu {

    margin: 0 ;
    width: auto ;
    display: flex ;
    height: 7em ;
    user-select: none ;
    position: relative ;
    align-items: center ;
    padding: 0 ;
    justify-content: center ;
    background-color: #06467feb ;
    color: white;
    -webkit-tap-highlight-color: transparent ;
    border: 1px solid #008bff;
    border-radius: 10px 10px 0px 0px;
}

@media (max-width: 42.625em) {

    .menu {

        font-size: .55em ;

    }

}



.menu__item {

    all: unset ;
    flex-grow: 1 ;
    display: flex ;
    cursor: pointer ;
    overflow: hidden ;
    padding-top: 0.5em ;
    position: relative ;
    align-items: center ;
    color: var(--color-1) ;
    justify-content: center ;
    transition: flex-grow var(--duration) var(--cubic) ;
    flex-direction: column;
    font-size: 14px;
}



.menu__item.active {
    color: var(--color-2) !important; ;
}

.footer-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.forged-fixed-bottom-bar{
    height: 40px;
}

.UserProfileImage{
    border-radius: 50%;
}


.l-arcive-box2 .s-a-b .left .content {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.vsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vselement{
    overflow: hidden;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vselement span {
    font-size: 9px !important;
}

.telegramIcon{
    color: lightblue;
    font-size: 15px;
    padding-right: 1px;
}


.PlatoIcon{
    width: 15px;
    height: 15px !important;
    padding-right: 5px;
}

.MainDiv{
    padding-top: 100px;
}
.pt-100{
    padding-top: 100px;
}
.breadcrumb-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbarmybtn2{
    color: #00a2ff;
    padding: 6px 15px;
}

.breadcrumb-image{
    width: 200px
}

.subtitle{
    color: #fa009f;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mybtn{
    text-transform: capitalize;
    background-color: transparent;
    padding: 10px 50px;
    font-weight: bold;
    font-style: italic;
    border-radius: 10px;
}
.mybtn-success{
    color: #4aff00;
    box-shadow: inset 0px 0px 10px 7px #2aff00;
}
.mybtn-primary{
    color: #00bbff;
    box-shadow: inset 0px 0px 10px 7px #00bbff;
}
.mybtn-secondary{
    box-shadow: inset 0px 0px 10px 7px #333333;
}
.mybtn-white{
    box-shadow: inset 0px 0px 10px 7px #ffffff;
}
.mybtn-info{
    color: #00fff6;
    box-shadow: inset 0px 0px 10px 7px #00FFF6FF;
}
.mybtn-warning{
    color: #ffe900;
    box-shadow: inset 0px 0px 10px 7px #ffe900;
}
.mybtn-danger{
    color: #ff0000;
    box-shadow: inset 0px 0px 10px 7px #FF0000FF;
}
.mybtn-pill{
    padding: 10px 60px;
}

.mybtn-pill-10{
    padding: 10px 10px;
}

.mybtn-pill-20{
    padding: 10px 20px;
}


.mybtn-pill-25{
    padding: 10px 25px;
}

.mybtn-pill-30{
    padding: 10px 30px;
}
.mybtn-pill-35{
    padding: 10px 35px;
}

.mybtn-pill-40{
    padding: 10px 40px;
}
.mybtn-pill-50{
    padding: 10px 50px;
}

.mybtn-pill-60{
    padding: 10px 60px;
}

.mybtn-pill-70{
    padding: 10px 70px;
}
.mybtn-pill-80{
    padding: 10px 80px;
}
.mybtn-pill-90{
    padding: 10px 90px;
}
.mybtn-pill-100{
    padding: 10px 100px;
}


.champion-image{
    width: 110px !important;
    height: 110px !important;
    border-radius: 50%;
}

.plan-image{
    width: 90px !important;
    height: 90px !important;
}
.navbar-background{
    background-image: url("https://kryptoarena.fun/Front/images/ui/Header-min.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header .top-header .content{
    background-image: unset;
}
.header .top-header .content::before{
    content: unset;
}
.header .top-header .content::after{
    content: unset;
}


.NavbarUsername{
    color: white;
}

.image-max-60{
    max-width: 60px;
    max-height: 60px;
}

.l-arcive-box .s-a-b .left img {
    margin-right: 0px !important;
}
.l-arcive-box .s-a-b{
    border-top: 2px solid #00a2ff;
    border-bottom: 2px solid #00a2ff;
}

.ChampionLeft{
    display: flex;
    flex-direction: column;
}
.l-arcive-box .s-a-b .right img{
    margin-left:unset;
}
.TimeTableDiv{
    padding-left: 20px;
    padding-right: 20px;
}


.user-main-dashboard aside .rank-area .bottom-area span{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0px;
    color: #838bf1;
}

._success {
    box-shadow: 0 15px 25px #00000019;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    border-bottom: solid 4px #28a745;
}

._success i {
    font-size: 55px;
    color: #28a745;
}
.note{padding:15px 15px 15px 45px;border-radius:4px;position:relative;}
.note [class*=fa]{position:absolute;top:50%;transform:translateY(-50%);left:0;font-size:12px;line-height:20px;width:45px;text-align:center;}
.note p{font-size:12px!important;line-height:1.5em;}
.note-info{background:#edf5ff;}
.note-info p{color:#6783b8!important;}
.note-info [class*=fa]{color:#87bfff;}
.note-danger{background:rgba(255,0,0,0.05);}
.note-danger p{color:rgba(255,0,0,0.7)!important;}
.note-danger [class*=fa]{color:rgba(255,0,0,0.7);}


.MasterBreadCrumbSection{
    background-image: url("https://kryptoarena.fun/Front/images/ui/BackgroundProfile-min.png");
}

.breadcrumb-area.gamer-profile {
    background-image: url("https://kryptoarena.fun/Front/images/ui/BackgroundProfile-min.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 210px 0px 10px;
}

.breadcrumb-area.gamer-profile.pt-2 {
    border-bottom: 1px solid #00a2ff;
    box-shadow: 0px 0px 10px 2px #00a2ff;
}
.gamer-profile-top .gamer-profile-top-inner .g-p-t-counters .g-p-t-single-counter{
    background: #023f6d;
}
.usermenu-section{
    background: #023f6f;
}
.t-t-s-nav{
    padding-bottom: 20px;
}

.gamer-profile-top{
    background-image: url("https://kryptoarena.fun/Front/images/ui/BackgroundProfile-min.png");
    box-shadow:unset;
}

.BackgroundImageUnset{
    background-image: unset;
}

.header::after {
    background: #00a2ff;
    box-shadow: 0px 0px 10px 2px #00a2ff;
}

.affiliate-box .referral-link-area{
    background: #023f6e;
}

.affiliate-box .earning-info-area{
    background: #023f6f;
}

.affiliate-box .earning-info-area .s-info{
    background: #00052a;
}
.user-main-dashboard{
    background-color: #121212;
}
.user-main-dashboard aside .about{
    background-color: #023f6f;
}


.user-main-dashboard aside .rank-area{
    background: #023f70;
}
.user-main-dashboard aside .rank-area .bottom-area .progress{
    background: #126a02;
}

.user-main-dashboard aside .rank-area .bottom-area .progress .progress-bar{
    background-color: #27b402;
}

.affiliate-box .aff-table{
    background: #023f71;
}

.affiliate-box .aff-table .table tbody tr{
    background: #00052a;
    border-top: 1px solid #023f72 !important;
}
.affiliate-box .aff-table .table thead th{
    border-bottom: 1px solid #086bab;
}
.affiliate-box .aff-table .table tr td{
    border-bottom: 1px solid #018ce1 !important;
}
.user-main-dashboard main .main-box .table-responsive tbody tr:last-child{
    border-bottom: 3px solid #086bab;
}

.preloader{
    background-image: url("https://kryptoarena.fun/Front/images/ui/SplashScreen.png");
    background-color: #0b122e;
    background-size: contain;
    background-repeat: round;
}
.loader-1 .loader-outter{
    border: 4px solid #00bcff;
    border-left-color: transparent;
    border-bottom: 0;
}
.loader-1 .loader-inner{
    border: 4px solid #001fff;
    border-right: 0;
    border-top-color: transparent;

}


.latest-arcive , .games-filter{
    background: #121212;
}

.l-arcive-box{
    background-color: #023f6f;
}

.game-play-section.game-play-section2{
    background-image: url("https://kryptoarena.fun/Front/images/ui/BackgroundProfile-min.png");
    background-size: cover;
    background-position: right;
}

.game-play-section.game-play-section2 .single-play{
    background-color: #070b28;
}
.single-play{
    box-shadow: inset 0px 0px 12px 7px #00a2ff;
}

.turnaments-tab-section{
    background: #212529;
}

.single-turnaments{
    background: #0b122e;
}
.single-turnaments .left-area .single-play{
    box-shadow: inset 0px 0px 12px 7px #00a2ff;
}

.turnaments-section .turnaments-top-section{
    background-color: #070b28;
    background-image: unset;
}
.turnaments-section .turnaments-top-section .stf{
    border: 1px solid #00a2ff;
    background: #070b28;
    border-radius: 10px;
}

.turnaments-section{
    background-color: #0b122e;
}

.mybtn{
    color:white
}

.l-arcive-box2 .s-a-b{
    border-top: 4px solid #007bff;
    border-bottom: 4px solid #007bff;
    background: #00052a;
}

.wallet-box .wallet-tab-menu .nav{
    background: #023f6e;
}
.wallet-box .wallet-tab-content .trns-box .trns-table-filter .single-filter .input-field{
    background: #023f6e;
}

.wallet-box .wallet-tab-content .trns-box .table-responsive .table thead{
    background: #00052a;
}

.user-main-dashboard main .main-box .table-responsive tbody{
    background: #00052a;
}

.user-main-dashboard main .main-box .table-responsive tbody tr{
    border-top: 3px solid #023f72;
}

.wallet-box .wallet-tab-content .dipo-box .dipo_btc{
    border: 1px solid #096ec2;
}

.TokenButtonSelected{
    border: 1px solid #00a6ff;
    border-radius: 10%;
}


.wallet-box .wallet-tab-content .notice-area{
    border: 1px solid #007bff;
    background: #070b28;
    color: white;
}

.wallet-box .wallet-tab-content .dipo-box .dipo_btc .referral-link-area .left .aff-code input{
    background: #023f6e;
    color: white;
}

#PaymentArea > div.mt-4.p-3{
    background-color: #070b28;
    color: white;
    border: 1px solid #007bff;
    border-radius: 10px;
}

.u-setting-area .single-user-setting{
    background: #0b122e;
}

.modal .modal-content{
    background: #0b122e;
}

.modal-footer{
    border-top:unset;
    justify-content: center;
}

.header .top-header .content{
    padding: 5px;
}

.NavbarItem{
    display: flex;
    flex-direction: column;
    font-size: 15px;
}
.font-22px{
    font-size: 22px !important;
}

.fa-dollar-color{
    color: #299001 !important;
}
.single-play .image img , .single-turnaments .left-area .single-play .image img{
    border-radius: 8%;
    width: 90%;
}
